{% extends "layout.html" %}
{% block body %}
<div class="ml-3 mr-3 mt-3 pr-3 pl-3">
  <h1>Sign In</h1>
  <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
  <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.email.label }}<br>
          {{ form.email(size=32) }}<br>
          {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}<br>
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.remember() }} {{ form.remember.label }}</p>
      <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}