{% extends "layout.html" %}
{% block title %}
<title>Input</title>
{% endblock %}
{% block body %}
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1596463059283-da257325bab8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmVudG98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Lunchboxes redefined: Have a healthy meal where ever you are</h1>
    <p>Only the freshest regional ingredients, prepared by master chefs</p>
    <a class="btn btn-flat" href="#">Order now</a>
  </div>
</div>

<div class="ml-3 pr-3 pl-3">
  <h2 class="mb-4 mt-4">Our Top 5 Boxes</h2>
  {% for meal in meals[:5] %}
    <a href="meal/{{ meal.id }}">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>{{ meal.meal_name }} -  EUR {{ meal.price }}</h2>
          <p>Delicious box cooked by master chef <strong>{{ meal.cook }}</strong></p>
        </div>
      </div>
    </a>
  {% endfor %}
  <a href="meal/all"><h3 class="mb-4 mt-4">Look at all of our delicious meals!</h3></a>
</div>
{% endblock %}