{% extends "layout.html" %}
{% block body %}
<div class="formwrapper">
  <h2 class="title">Add a new meal:</h2>
  <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
    <p>
      {{ form.meal_name.label }}<br>
      {{ form.meal_name(size=50) }}<br>
    </p>
    <p>
      {{ form.cook.label }}<br>
      {{ form.cook(size=50) }}<br>
    </p>
    <p>
      {{ form.price.label }}<br>
      {{ form.price(size=50) }}<br>
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}